body {
  font: 1.5em sans-serif white;
  background-color: #454545;
}

.bodyDiv{
  padding-top: 1em;
  margin-top: 4em;
  padding-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  background-color: #141517;
  border-radius: 0.8em;
  max-width: 400px;
}

.loginH1{
	color: #FFFFFF;
	font-size: 3em;
	text-align: center;
	padding-top: 3%;
	margin-left: 0%;
	font-family: 'Cuprum';
	font-weight: bold;
}

.login {
	margin: 50px auto;
	width: 242px;
}

.login input {
	border: none;
	height: 48px;
	outline: none;
}

.login input[type="text"] {
	border-top: 1px solid;
	border-right: 1px solid;
	border-left: 1px solid;
	border-radius: 5px 5px 0 0;
	padding-left: 36px;
	width: 204px;
}

.login input[type="password"] {
	border-top: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-radius: 0 0 5px 5px;
	margin-bottom: 20px;
	padding-left: 36px;
	width: 204px;
}

.login input[type="button"] {
	border: 1px solid;
	border-radius: 5px;
	font-weight: bold;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	width: 240px;
}

.login input[type="button"]:hover{
background-color: #8E001C;
}

.signupH3{
	color: #FFFFFF;
	font-size: 2em;
	text-align: center;
	padding-top: 3%;
	margin-left: 0%;
	font-family: 'Cuprum';
	font-weight: bold;
}

.signup {
	margin: 50px auto;
	width: 242px;
}

.signup  input {
	border: none;
	height: 48px;
	outline: none;
}

.signup  input[type="text"] {
	border-top: 1px solid;
	border-right: 1px solid;
	border-left: 1px solid;
	border-radius: 5px 5px 0 0;
	padding-left: 36px;
	width: 204px;
}

.signup  input[type="password"] {
	border-top: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-radius: 0 0 5px 5px;
	margin-bottom: 20px;
	padding-left: 36px;
	width: 204px;
}

.signup  input[type="button"] {
	border: 1px solid;
	border-radius: 5px;
	font-weight: bold;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	width: 240px;
}

.signup  input[type="button"]:hover{
background-color: #8E001C;
}
