/*Table of Contents
-body
-Type
-Links
-Buttons
-Forms
-Media Queries

### Colors ####
medium codefellows red #CF3328

*/


body {
	font-family: Arial, Verdana, sans-serif;
	color: #ffffff;
	background-color: #000000;
}

h1 {
	font-family: 'Cuprum', sans-serif;
	color: #CF3328;
  text-align: center;
}

h2 { }
h3 {
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
 }

h5 { }
h6 { }

p { }
div { }

/* ##### Navigation Styles ##### */
.nav-wrapper{
  background: #CF3328;
  padding-top: 8px;
}

.nav-columns{
  font-size: 1.1em;
  text-align: center;
  text-decoration: none;
  list-style: none;
  border-bottom: 2px solid black;
}

.navbar a:link{
	color: white;
	text-decoration: none;
}
.navbar a:visited {
	color: white;
  text-decoration: none;
}
.navbar a:hover {
	color: LightGray;
	text-decoration: underline;
}
.navbar a:active {
	color: maroon;
  text-decoration: underline;
}

/* button styles */

#sub {
 -webkit-border-radius: 28;
 -moz-border-radius: 28;
 border-radius: 28px;
 font-family: Arial;
 color: #ffffff ;
 font-size: 1em;
 background: #000000 ;
 border: solid #f00909  2px;
 text-decoration: none;
}

#sub:hover {
 background: #707375 ;
 text-decoration: none;
}

input {
    font size: 120%;
    color: #000000;
    background-color: #fff;
    border: 1px solid #f00909;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    background-repeat: no-repeat;;
    background-position: 8px 9px;
    display: block;
    margin-bottom: 10px;
}

input: focus, input: hover {
    background-color: #fff ;
    border: 1px solid #f00909;
}

/*#userinputform{
    width: 100%;
    margin: 20px;
    border: 2px solid #f00909;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    font-size: 16px;
    display: block;
}*/

.style-select select {
  background: #fff;
  border: 1px solid #f00909;
  width: 150px;
  padding: 5px;
  font-size: 14px;
  color: #000;
  line-height: 1;
  border-radius: 5px;
  height: 34px;
/*  -webkit-appearance: none;*/
 }


/* ###### Media Queries ###### */
@media screen and (min-width:550px){
  .nav-wrapper{
  background: #CF3328;
  display: block;
  width: 100%;
  float: none;
  }

  .nav-columns{
    position: relative;
    width: 24%;
    display: inline-block;
    text-align: center;
    padding-top: 3px;
  }

  .nav-wrapper ul li{
   display: inline-block;
   margin: 0 auto 0 auto;
   padding: 10px 0 10px 0;
   list-style: none;
   float: none;
   border: none;
  }

}
