/*Table of Contents
-body
-Type
-Links
-Buttons
-Forms
-Media Queries

 ------------ Colors ------------------
medium codefellows red #CF3328
lighter cf red         #d94338
darker cf red          #a42820
dark background gray   #1a1a1a

------------ Fonts --------------------

*/


body {
	font-family: Arial, Verdana, sans-serif;
	color: #ffffff;
	background-color: #1a1a1a;
}

h1 {
	font-family: 'Cuprum', sans-serif;
	color: #CF3328;
  text-align: center;
  padding-top: 1em;
}

h2 { }
h3 {
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
 }

h5 { }
h6 { }

p { }
div { }

/* ##### Navigation Styles ##### */
.nav-wrapper{
  background: #d94338;
  padding-top: 7px;
}

.nav-columns{
  font-size: 1.1em;
  text-align: center;
  text-decoration: none;
  list-style: none;
  border-bottom: 2px solid #a42820;
  margin-bottom: 5px;
}

.secret-link a:link {
  color: white;
  text-decoration: none;
}

.secret-link a:hover {
  color: white;
  background-color: #CF3328;
  text-decoration: none;
}

.secret-link a:visited {
  color: white;
  text-decoration: none;
}

.secret-link a:active {
  color: white;
  text-decoration: none;
}

.navbar a:link {
	color: white;
	text-decoration: none;
}
.navbar a:visited {
	color: white;
  text-decoration: none;
}
.navbar a:hover {
	color: #262626;
	text-decoration: none;
}
.navbar a:active {
	color: #262626;
  text-decoration: underline;
}

/*------------ Logo Styles ------------*/

.logo-left {
  display: inline-block;
  float: left;
 /* padding-right: 1rem;*/      
  margin-top: 2rem;
  margin-left: 1rem;
}

.logo-right {
  display: inline-block;;
  float: right;
  /*padding-right: 1rem; */     
  margin-top: 2rem;
  margin-right: 1rem;
}

/* ----------- Column Styles -------------*/
.about-info{
  margin-top: 10px;
}

/* -----------------button styles ----------*/


/* ----------- Martini Lunch Styles --------*/
.martini-content{
  margin: 2em auto 2em auto;
  text-align: center;
}

.martini-content a{
  text-decoration: none;
  color:  #d94338;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}

.martini-content a:visited{
   color: #d94338;
}

.martini-content a:hover{
  color: #a42820;
  text-decoration: underline;
}



/* --------------- About Us Styles ----------*/
.columns img{
  margin: 0 auto 2em auto;
}

.container h3{
  font-size: 2em;
  color: #d94338;
  text-align: left;
}

.rest-row img{
  margin-bottom: 0;
  padding-bottom: 0;
}
/* -------------- Table Styles -------------*/
#sub {
 -webkit-border-radius: 28;
 -moz-border-radius: 28;
 border-radius: 28px;
 font-family: Arial;
 color: #ffffff ;
 font-size: 1em;
 background: #000000 ;
 border: solid #f00909  2px;
 text-decoration: none;
}

#sub:hover {
 background: #707375 ;
 text-decoration: none;
}

input {
    font size: 120%;
    color: #000000;
    background-color: #fff;
    border: 1px solid #f00909;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    background-repeat: no-repeat;;
    background-position: 8px 9px;
    display: block;
    margin-bottom: 10px;
}

input: focus, input: hover {
    background-color: #fff ;
    border: 1px solid #f00909;
}

.day-select select {
  background: #fff;
  border: 1px solid #f00909;
  width: 150px;
  padding: 5px;
  font-size: 14px;
  color: #000;
  line-height: 1;
  border-radius: 5px;
  height: 34px;
}

.style-select select {
  background: #fff;
  border: 1px solid #f00909;
  width: 150px;
  padding: 5px;
  font-size: 14px;
  color: #000;
  line-height: 1;
  border-radius: 5px;
  height: 34px;
/*  -webkit-appearance: none;*/
 }


/* ###### Media Queries ###### */
@media screen and (min-width:550px){
  .nav-wrapper{
  background: #d94338;
  display: block;
  width: 100%;
  float: none;
  padding-top: none;
  }

  .nav-columns{
    position: relative;
    width: 24%;
    display: inline-block;
    text-align: center;
    padding-top: 3px;
    border-bottom: none;
    border-left: 1px solid  #a42820;
  }

  .nav-wrapper ul li{
   display: inline-block;
  /* margin: 0 auto 0 auto;*/
   padding: 10px 0 10px 0;
   list-style: none;
   float: none;
  }

  .highlight-row{
    background-color: none;
  }

  .martini-head{
  text-align: left;
}

}

/*  Created by David Walsh
  http://davidwalsh.name/css-flip*/
  
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}

  .flip-container:hover .flipper,  
  .flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width: 250px;
  height: 250px;
}

.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;

  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

.front {
  background:0 0 no-repeat;
  z-index: 2;
}

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.front .name {
  font-size: 2em;
  display: inline-block;
  background: rgba(33, 33, 33, 0.9);
  color: #f8f8f8;
  font-family: Courier;
  padding: 5px 10px;
  border-radius: 5px;
  bottom: 30px;
  left: 50%;
  position: absolute;
  text-shadow: 0.1em 0.1em 0.05em #333;

  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

#bellaNametag {
  font-size: 2em;
  display: inline-block;
  background: rgba(33, 33, 33, 0.9);
  color: #f8f8f8;
  font-family: Courier;
  padding: 5px 10px;
  border-radius: 5px;
  bottom: 30px;
  left: 50%;
  position: absolute;
  text-shadow: 0.1em 0.1em 0.05em #333;

  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

#kelseyNametag {
  font-size: 2em;
  display: inline-block;
  background: rgba(33, 33, 33, 0.9);
  color: #f8f8f8;
  font-family: Courier;
  padding: 5px 10px;
  border-radius: 5px;
  bottom: 30px;
  left: 50%;
  position: absolute;
  text-shadow: 0.1em 0.1em 0.05em #333;

  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}