/*Table of Contents
-body
-Type
-Links
-Buttons
-Forms
-Media Queries

 ------------ Colors ------------------
medium codefellows red #CF3328
lighter cf red         #d94338
darker cf red          #a42820
dark background gray   #1a1a1a

------------ Fonts --------------------

*/


body {
	font-family: Arial, Verdana, sans-serif;
	color: #ffffff;
	background-color: #1a1a1a;
}

h1 {
	font-family: 'Cuprum', sans-serif;
	color: #CF3328;
  text-align: center;
  padding-top: 1em;
}

h2 { }
h3 {
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
 }

h5 { }
h6 { }

p { }
div { }

/* ##### Navigation Styles ##### */
.nav-wrapper{
  background: #d94338;
  padding-top: 7px;
}

.nav-columns{
  font-size: 1.1em;
  text-align: center;
  text-decoration: none;
  list-style: none;
  border-bottom: 2px solid #a42820;
  margin-bottom: 5px;
}

.secret-link a:link {
  color: white;
  text-decoration: none;
}

.secret-link a:hover {
  color: white;
  background-color: #CF3328;
  text-decoration: none;
}

.secret-link a:visited {
  color: white;
  text-decoration: none;
}

.secret-link a:active {
  color: white;
  text-decoration: none;
}

.navbar a:link {
	color: white;
	text-decoration: none;
}
.navbar a:visited {
	color: white;
  text-decoration: none;
}
.navbar a:hover {
	color: #262626;
	text-decoration: none;
}
.navbar a:active {
	color: #262626;
  text-decoration: underline;
}

/* ----------- Column Styles -------------*/
.about-info{
  margin-top: 10px;
}

/* -----------------button styles ----------*/

/* ----------- Martini Lunch Styles --------*/
.martini-content{
  margin: 2em auto 2em auto;
  text-align: center;
}

.martini-content a{
  text-decoration: none;
  color:  #d94338;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}

.martini-content a:visited{
   color: #d94338;
}

.martini-content a:hover{
  color: #a42820;
  text-decoration: underline;
}

/* -------------- Table Styles -------------*/
#sub {
 -webkit-border-radius: 28;
 -moz-border-radius: 28;
 border-radius: 28px;
 font-family: Arial;
 color: #ffffff ;
 font-size: 1em;
 background: #000000 ;
 border: solid #f00909  2px;
 text-decoration: none;
}

#sub:hover {
 background: #707375 ;
 text-decoration: none;
}

input {
    font size: 120%;
    color: #000000;
    background-color: #fff;
    border: 1px solid #f00909;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    background-repeat: no-repeat;;
    background-position: 8px 9px;
    display: block;
    margin-bottom: 10px;
}

input: focus, input: hover {
    background-color: #fff ;
    border: 1px solid #f00909;
}

.day-select select {
  background: #fff;
  border: 1px solid #f00909;
  width: 150px;
  padding: 5px;
  font-size: 14px;
  color: #000;
  line-height: 1;
  border-radius: 5px;
  height: 34px;
}

.style-select select {
  background: #fff;
  border: 1px solid #f00909;
  width: 150px;
  padding: 5px;
  font-size: 14px;
  color: #000;
  line-height: 1;
  border-radius: 5px;
  height: 34px;
/*  -webkit-appearance: none;*/
 }


/* ###### Media Queries ###### */
@media screen and (min-width:550px){
  .nav-wrapper{
  background: #d94338;
  display: block;
  width: 100%;
  float: none;
  padding-top: none;
  }

  .nav-columns{
    position: relative;
    width: 24%;
    display: inline-block;
    text-align: center;
    padding-top: 3px;
    border-bottom: none;
    border-left: 1px solid  #a42820;
  }

  .nav-wrapper ul li{
   display: inline-block;
  /* margin: 0 auto 0 auto;*/
   padding: 10px 0 10px 0;
   list-style: none;
   float: none;
  }

  .highlight-row{
    background-color: none;
  }
}

